#tab-top:checked ~ .cube {
  transform: rotateX(-90deg);
}
#tab-front:checked ~ .cube {
  transform: rotateX(0deg);
}
#tab-bottom:checked ~ .cube {
  transform: rotateX(90deg);
}

#customer-input__input{
    display: unset;
    width: 45%;
    height: 50px;
    border: solid black 2px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}

#date-input__input {
    display: unset;
    width: 65%;
    height: 40px;
    border: solid black 2px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}