* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
body {
  background-color: #effefb
}
main { 
  perspective: 76em;
	perspective-origin: 50% 50px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  & input {
    display: none;
  }
  & label {
    position: absolute;
    width: 95px;;
    height: 70px;
    right: 0;
    line-height: 70px;
    border-radius: 10px;

    &:nth-child(1) { 
    top: -5px;
    background: #f5d7fd;
  }
  &:nth-child(2) {
    top: 69px;
    background: #fdd7df;
  }
  &:nth-child(3) {
    top: 143px;
    background: #d7f2fd;
  }
  // &:nth-child(4) {
  //   top: 222px;
  //   background: purple;
  // }
  }
}


.cube {
display: flex;
    justify-content: center;
    margin: 27px 0px 0px 10px;
    /* position: relative; */
    /* margin: 60px auto 0; */
    width: 92%;
    height: 200px;
    margin-bottom: 5px;
    /* transform-origin: 0 90px; */
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
}

article {
  width: 93%;
  height: 200px;
  position: absolute;
  // background-color: #d7f2fd;
  border-radius: 10px;
  border: solid black 2px;
    &:nth-child(1) {
    transform: translateZ(100px);
    background: #fdd7df;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.8);
    
  }
    &:nth-child(2) {
    transform: rotateX(-270deg)
    translateY(-100px);
    transform-origin: top left;
    background: #f5d7fd;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.8);
  }
    &:nth-child(3) {
    transform: rotateX(-90deg)
    translateY(100px);
    transform-origin: bottom center;
    background: #d7f2fd;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.8);
  } 
    & h1 {
      margin: 0;
    }
    & p {
      margin: 0;
    }
  //   &:nth-child(4) {
  //   transform: rotateX(90deg)
  //   translateY(100px);
  //   transform-origin: bottom center;
  //   background: #EF476F;
  // } 
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 33%;
    height: 615px;
    border-radius: 10px;
    background-color: #9AACCFA7;
    border: solid black 2px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 17%;
      width: 77%;
      background-color: #fefbef;
      border: solid black 2px;
      border-radius: 10px;
      box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    }
      & p {
        font-size: 25px;
        font-weight: 800;
        margin: 1px;
        
      }
    }

div {
  display: flex;
}

.bill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 325px;
  margin-top: 20px;
  margin-left: 12px;
  border: none;
  background: #d7fdf5;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
  & div {
   display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* margin-bottom: 30px; */
    /* margin: 10px; */
    padding: 20px;
  & p{
    font-size: 20px;
    margin: 0;
  }
    & div{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
  }
}

button {
    width: 35%;
    /* margin-bottom: 10px; */
    /* margin-top: 0px; */
    background-color: #fefbef;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

#past-booking__display1,
#past-booking__display2,
#past-booking__display3,
#past-order__display {
  display: flex;
  margin-top: 11px;
}

.past-booking__container,
.past-order__container {
  width: 100%;
  flex-direction: column;
  align-items: center;
}


.past-booking {
  flex-direction: column;
  align-items: center;
  height: 38px;
  padding: 2px;
  width: 110px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fefbef;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
    & p {
      font-weight: bold;
      font-size: 13px;
      display: flex;
      margin: 0;
    }
}

.past-order {
  flex-direction: column;
  justify-content: space-around;
  height: 90px;
  width: 250px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fefbef;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}
.customer-container__display {
  justify-content: space-around;
  margin-top: 20px;
}

.customer-header__display {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75px;
  width: 15%;
  background-color: #fefbef;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}
#customer-id__display {
  margin: auto;
  width: 35%;
}
#customer-name__display {
  margin: auto;
  width: 30%;
  margin-bottom: 10px;
  margin-top: 10px;
  // background-color: lightblue;
  // border: solid black 2px;
  // border-radius: 10px;
  // box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}

.tab {
  width: 6.5%;
  /* margin-bottom: 10px; */
  margin-top: 0px;
  background-color: #fefbef;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

.right-section__container {
  width: 59.4%;
  flex-direction: column;
}

.available-room__search {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 275px;
  margin-top: 15px;
  margin-left: 12px;
  border: none;
  background: #e1dcfa;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}

.available-room__result {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    height: 275px;
    margin-top: 15px;
    margin-left: 12px;
    border: none;
    background:		#f8f2d9;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}

.past-order {
    width: 257px;
    padding: 6px;
    background-color: #fefbef;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

.current-bill__display,
.total-bill__display {
    background-color: #fefbef;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    margin-right: 10px;
}

#room-type__filter,
#bed-type__filter,
.submit-search__button,
#number-beds__filter,
#bidet-status__filter {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    & h4 {
      margin: 5px;
      font-size: 18px;
    }
    & input {
      display: unset;
    }
      & p {
        margin: 10px;
      }
}
.submit-search__button {
    flex-direction: column;
    justify-content: center;
    & button {
      margin-top: 15px;
      margin-bottom: 10px;
      width: 84%;
    }
}
.room-available{
  width: 250px;
  padding: 6px;
  background-color: #fefbef;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: space-evenly;
    & p {
      margin: 0;
    }

  }
  
  #reset-search__button {
    width: 65px;
    height: 65px;
    align-self: flex-end;
    margin-left: auto;
  }

  .history-tab,
  .create-new-tab {
    display: inline-block;
    height: 30px;
    width: 90px;
    padding: 4px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    background-color: #fefbef;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
  }

  #submit-date {
    text-align: center;
  }


  #new-booking__container, 
  #new-order__container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
      & input {
        display: flex;
      }
  }

  .new-booking__input,
  .new-order__input {
    display: flex;
    flex-direction: column;
    & p {
      font-size: 25px;
      margin-bottom: 5px;
    }
  }

  .new-booking__input {
    width: 25%;
    margin: auto;
  }

  #new-booking__input,
  #new-booking__roomnumber,
  #new-booking__date,
  #new-order__input,
  #new-order__food,
  #submit-date {
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    height: 38px;
    text-align: center;
  }

  #new-customer__submit,
  #new-order__submit {
    width: 20%;
  }

  #customer-submit__div,
  #order-submit__div {
    justify-content: center;
    margin-top: 25px;
  }

#room-checkbox__suite,
#room-checkbox__residential,
#room-checkbox__junior,
#room-checkbox__single,
#bed-checkbox__king,
#bed-checkbox__queen,
#bed-checkbox__full,
#bed-checkbox__twin,
#number-beds__1,
#number-beds__2,
#bidet-checkbox__true,
#bidet-checkbox__false {

  height: 20px;
  width: 20px;
}