* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}

main { 
    // height: 8em;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
  perspective: 76em;
	perspective-origin: 50% 50px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  & input {
    display: none;
  }
  & label {
    position: absolute;
    width: 95px;;
    height: 70px;
    right: 0;
    line-height: 70px;
    border-radius: 10px;

    &:nth-child(1) { 
    top: -5px;
    background: #06D6A0;
  }
  &:nth-child(2) {
    top: 69px;
    background: #1B9AAA;
  }
  &:nth-child(3) {
    top: 143px;
    background: #EF476F;
  }
  // &:nth-child(4) {
  //   top: 222px;
  //   background: purple;
  // }
  }
}


section {
display: flex;
    justify-content: center;
    margin: 27px 0px 0px 10px;
    /* position: relative; */
    /* margin: 60px auto 0; */
    width: 92%;
    height: 200px;
    margin-bottom: 5px;
    /* transform-origin: 0 90px; */
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
}

article {
  width: 93%;
  height: 200px;
  position: absolute;
  background-color: #EF476F;
  border-radius: 10px;
  border: solid black 2px;
    &:nth-child(1) {
    transform: translateZ(100px);
    background: #1B9AAA;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.8);
  }
    &:nth-child(2) {
    transform: rotateX(-270deg)
    translateY(-100px);
    transform-origin: top left;
    background: #06D6A0;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.8);
  }
    &:nth-child(3) {
    transform: rotateX(-90deg)
    translateY(100px);
    transform-origin: bottom center;
    background: #EF476F;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.8);
  } 
    & h1 {
      margin: 0;
    }
    & p {
      margin: 0;
    }
  //   &:nth-child(4) {
  //   transform: rotateX(90deg)
  //   translateY(100px);
  //   transform-origin: bottom center;
  //   background: #EF476F;
  // } 
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 33%;
    height: 615px;
    border-radius: 10px;
    background-color: #EF476F;
    border: solid black 2px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 17%;
      width: 77%;
      background-color: lightblue;
      border: solid black 2px;
      border-radius: 10px;
      box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    }
      & p {
        font-size: 25px;
        font-weight: 800;
        margin: 1px;
        
      }
    }

div {
  display: flex;
}

fieldset {
  width: 100%;
  height: 325px;
  margin-top: 20px;
  margin-left: 12px;
  border: none;
  background: bisque;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    & div{
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}

button {
    width: 35%;
    /* margin-bottom: 10px; */
    /* margin-top: 0px; */
    background-color: lightblue;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

#past-booking__display1,
#past-booking__display2,
#past-booking__display3,
#past-order__display {
  display: flex;
  margin-top: 11px;
}

.past-booking__container,
.past-order__container {
  width: 100%;
  flex-direction: column;
  align-items: center;
}


.past-booking {
  flex-direction: column;
  width: 110px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: lightblue;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

.past-order {
  flex-direction: column;
  justify-content: space-around;
  height: 90px;
  width: 250px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: lightblue;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}
.customer-container__display {
  justify-content: space-around;
  margin-top: 11px;
}

.customer-header__display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75px;
  width: 15%;
  background-color: lightblue;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}
#customer-id__display {
  margin: auto;
  width: 25%;
  // background-color: lightblue;
  // border: solid black 2px;
  // border-radius: 10px;
  // box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}
#customer-name__display {
  margin: auto;
  width: 25%;
  margin-bottom: 10px;
  margin-top: 10px;
  // background-color: lightblue;
  // border: solid black 2px;
  // border-radius: 10px;
  // box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}

.tab {
  width: 6.5%;
  /* margin-bottom: 10px; */
  margin-top: 0px;
  background-color: lightblue;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

.right-section__container {
  width: 59.4%;
  flex-direction: column;
}

.available-room__search, {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 275px;
  margin-top: 15px;
  margin-left: 12px;
  border: none;
  background: bisque;
  border-radius: 10px;
  border: solid black 2px;
  box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}

.available-room__result {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    height: 275px;
    margin-top: 15px;
    margin-left: 12px;
    border: none;
    background: bisque;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
}

.past-order {
    width: 257px;
    padding: 6px;
    background-color: lightblue;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

.current-bill__display,
.total-bill__display {
    background-color: lightblue;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 3px 7px 0px 0px rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    margin-right: 10px;
}

#room-type__filter,
#bed-type__filter,
.submit-search__button,
#number-beds__filter,
#bidet-status__filter {
  display: flex;
  justify-content: center;
  align-items: center;
    & h4 {
      margin: 5px;

    }
    & input {
      display: unset;
    }
      & p {
        margin: 10px;
      }
}
.submit-search__button {
  flex-direction: column;
    & button {
      margin-top: 5px;
    }
}
.room-available{
  width: 250px;
  padding: 6px;
  background-color: lightblue;
  border: solid black 2px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: space-evenly;
    & p {
      margin: 0;
    }

  }
  
  #reset-search__button {
    width: 65px;
    height: 65px;
    align-self: flex-end;
    margin-left: auto;
  }

  .history-tab {
    display: inline-block;
    height: 30px;
    width: 75px;
    padding: 4px;
    margin-top: 10px;
    position: relative;
    background-color: lightblue;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.8);
  }

  #submit-date {
    text-align: center;
  }